@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #012143;
    --second-color: #012143ad;
}

/* body & *::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

body ~ *::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
} */



@layer utilities{
  .nav-section{
    @apply px-2 py-2  font-medium text-[#eee] !important;
  }
  .categories{
    @apply absolute top-full left-1/2 flex flex-col z-30 bg-[#eee] rounded-10 py-2 after:content-[""] after:absolute after:-z-[1] after:top-0 after:left-[10%] after:rotate-45 after:bg-[#eee] after:h-7 after:w-7;
  }
  .category{
    @apply py-1 px-5 text-[#333] text-nowrap duration-150 hover:bg-[#ccc] cursor-pointer !important;
  }
  .section-heading{
    @apply text-3xl font-semibold my-5 ml-5 ;
  }
  .place_order-input{
    @apply text-lg px-4 py-2 rounded-10 outline-none border border-[#333] border-solid w-full;
  }
  .place_order-label{
    @apply absolute left-4 top-1/2 -translate-y-1/2 px-2 font-semibold text-[#585858] select-none bg-label duration-150;
  }
  .bg-label{
    background-image: linear-gradient(to top, #FFFFFFFF 25%, transparent 25%);
  }
  .grid-container{
    @apply grid grid-cols-4 gap-4 2xl:grid-cols-5 max-md:grid-cols-3 max-md:px-5 max-[425px]:hidden;
  }

  .dashboard-section{
    @apply text-5xl font-semibold mb-4;
  }

  /* Dashboard model */
  .dashboard_nav-link{
    @apply relative flex items-center gap-2 px-5 py-4 text-lg font-medium text-[#bbb] hover:text-white duration-100 text-nowrap;
  }
  .row-navigation{
    @apply absolute flex-col items-center left-[10%] top-[calc(100%+5px)] py-2 w-1/3 max-sm:w-1/2 z-20 bg-bgPrimary-to rounded-2xl after:absolute after:-z-[1] after:top-0 after:left-[10%] after:rotate-45 after:bg-bgPrimary-to after:h-10 after:w-10;
  }
  .status_btn{
    @apply w-full flex justify-center items-center hover:bg-bgPrimary-from/60 gap-5 py-2 cursor-pointer font-normal text-lg duration-200 rounded-10;
  }
  .dashboard_adding-input{
    @apply w-full px-4 py-2 border border-solid border-secondary text-lg bg-[#fff] rounded-10 outline-none;
  }
  .dashboard_adding-category{
    @apply w-full px-4 py-2 border border-solid border-secondary text-lg bg-[#fff] rounded-10 outline-none focus:rounded-b-[0] cursor-pointer duration-200;
  }
}

.dashboard_adding-category:focus +div > div{
    transform: translateY(0);
}
.dashboard_adding-category:focus ~span{
    transform: rotate(180deg) translateY(50%);
}
.states-btn:hover > div{
    display: block;
}

.place_order-input:focus + label,
.place_order-input:valid + label{
    transform: translateY(-38px);
    font-size: small;
}

.horizontal_shoe:hover > button,
.horizontal_shoe:hover > a{
  opacity: 1;
}



/* Old style */
/* Start Slider Animation */

.first {
    z-index: 5;
}

.entry-right,
.entry-left {
    z-index: 3;
}

.out-left,
.out-right {
    z-index: 1;
}


.out-right {
    animation: outR .5s ease;
    z-index: 1;
}

@keyframes outR {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.out-left {
    animation: outL .5s ease;
}

@keyframes outL {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.entry-left {
    animation: entryLeft .5s ease;
}

@keyframes entryLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.entry-right {
    animation: entryRight .5s ease;
}

@keyframes entryRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.here {
    background-color: #d1d5db;
}

/* End Slider Animation */

/* Start Seclect Size */

.not-active,
.active {
    background-color: #ddd;
    border: 1px dashed var(--main-color);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    transition: .4s;
}

.not-active:hover {
    cursor: pointer;
    background-color: #01214362;
}

.active {
    background-color: var(--main-color);
    color: white;
}

/* End Seclect Size */

.small-images::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.small-images::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
}


/* Input Animation Start */

.input-groupe>.input:valid+label,
.input-groupe>.input:focus+label {
    background-color: #fff;
    transform: translate(20px, -40px);
    font-size: smaller;
    font-weight: 600;
    color: var(--main-color);
}


/* Input Animation End */

/* DashBord navbar Animation Start*/

.dashbord-path {
    color: #fff;
}

.dashbord-path:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 70%;
    left: 15%;
    bottom: 0;
    background-color: #fff;
    animation: underLine .2s ease-out;
}

@keyframes underLine {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


/* DashBord navbar Animation End*/

/* /Dashbord/AddShoe start*/

#images>img {
    border-radius: 1em;
}

#sizes>button {
    padding: .25em 1em;
    background-color: var(--main-color);
    color: #ddd;
    border-radius: 1em;
}

/* /Dashbord/AddShoe end*/

/* /Dashbord/Orders Start*/




/* /Dashbord/Orders End*/


/* Successful Operation Start */

.circle::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    animation: down 1s linear;
}

@keyframes down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.circle::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    animation: up 1s linear;
}

@keyframes up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}


.mark::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 10px;
    background-color: var(--main-color);
    z-index: 10;
    border-radius: 20px 0 20px 20px;
    left: 20%;
    top: 63.3%;
    transform: rotateZ(45deg);
    animation: toright 1s ease;
}

@keyframes toright {
    from {
        transform: translate(-100px, -100px) rotateZ(45deg);
    }

    to {
        transform: translate(0, 0) rotateZ(45deg);
    }
}

.mark::before {
    content: '';
    position: absolute;
    width: 5em;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 0 20px 20px 0;
    z-index: 10;
    left: calc(20% + 1em);
    top: 50%;
    transform: rotateZ(-40deg);
    transition: 2s;
    animation: toleft 1s ease;
}

@keyframes toleft {
    from {
        transform: translate(100px, -100px) rotateZ(-40deg);
    }

    to {
        transform: translate(0, 0) rotateZ(-40deg);
    }
}


/* Successful Operation End */